@import '~@angular/material/theming';

// Components
//
// All reusable custom application components
//
// Styleguide Components

// Headings
//
// All more complex application headings
//
// Styleguide Components.headings

// Primary Header
//
// The heading that appears at the top of every page.
//
// Markup:
// <div class="primary-header">
//     <h1 class="mat-headline">Home</h1>
// </div>
//
// Styleguide Components.headings.primary
@mixin primary-header-theme($theme) {
  $primary: map-get($theme, primary);

  .primary-header {
    background-color: mat-color($primary, lighter);
    padding-left: 5rem;
    h1 {
      color: mat-color($primary, darker-contrast);
      margin: 0;
      padding: 28px 8px;
    }
  }
}

@mixin primary-header-typography($config) {
  .primary-header h1 {
    font: {
      family: mat-font-family($config, headline);
      size: mat-font-size($config, headline);
      //weight: mat-font-weight($config, headline);
      weight: 300;
    }
  }
}

@include primary-header-theme($app-theme);
@include primary-header-typography($default-typography);
