<div class="primary-header">
  <h1 class="mat-headline">Test</h1>
</div>
<p [appHighlight]="color" defaultColor="violet">
  Highlight me!
</p>
<button mat-button>Click me!</button>
<mat-icon>home</mat-icon>
<i class="material-icons">face</i>
<i class="material-icons md-18">face</i>
<i class="material-icons md-24">face</i>
<i class="material-icons md-36">face</i>
<i class="material-icons md-48">face</i>
<i class="material-icons md-dark">face</i>
<i class="material-icons md-dark md-inactive">face</i>
<i class="material-icons md-light">face</i>
<i class="material-icons md-light md-inactive">face</i>
<i class="material-icons orange600">face</i>

<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<!-- By default, Angular Material applies no global styles to native elements. -->
<h1>This header is unstyled</h1>

<!-- Applying the mat-tyography class adds styles for native elements. -->
<section class="mat-typography">
  <h1>This header will be styled</h1>
</section>
