//@import 'theme';
@import '~@angular/material/theming';


//.primary-header {
// // background: mat-color($primary);
//  background-color: mat-color($app-primary);
//  padding-left: 5rem;
//  h1 {
//    font-weight: 300;
//    margin: 0;
//    padding: 28px 8px;
//    font-size: 20px;
//    color: #fff
//  }
//}

//.primary-header {
//  color: mat-color($app-primary);
//  background-color: mat-color($app-accent);
//}


.candy-carousel {
  // Get the default hue for a palette.
  color: mat-color($app-primary);

  // Get a specific hue for a palette.
  // See https://material.io/archive/guidelines/style/color.html#color-color-palette for hues.
  background-color: mat-color($app-accent);

  // Get a relative color for a hue ('lighter' or 'darker')
  outline-color: mat-color($app-accent);

  // Get a constrast color for a hue by adding `-contrast` to any other key.
  border-color: mat-color($app-primary);
}
