.body-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
}


.example-is-mobile .sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  width: 300px;
}

#nav-toggle {
  position: fixed;
  top: 100px;
  right: 50px;
}
