.body-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .sidenav-container {
    flex: 1;
    mat-sidenav {
      width: 300px;
    }
  }
  #nav-toggle {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
  }
}
