<div [ngClass]="{
      'dark-app-theme': checked,
      'light-app-theme': !checked,
      'body-container': true,
      'mat-typography': true
    }">

  <app-header (change)="toggleTheme($event)"></app-header>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav [fixedInViewport]="true" mode="over" [(opened)]="opened">
      <mat-nav-list>
        <a mat-list-item routerLink=".">Test</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <button id="nav-toggle" mat-fab (click)="sidenav.toggle()" aria-label="Navigation Toggle">
        <mat-icon *ngIf="opened">close</mat-icon>
        <mat-icon *ngIf="!opened">menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

